**Exercício 1 - Aquecimento de Python para Ciência de Dados**

1. Imprima "Hello, World!" no console.

In [1]:
print("Hello, World!")

Hello, World!

2. Crie uma variável x com valor 10 e imprima seu valor.

In [ ]:
x = 10
print(x)

3. Some dois números e exiba o resultado.

In [ ]:
num1 = 5
num2 = 7
resultado = num1 + num2
print(resultado)

4. Verifique se um número é par ou ímpar.

In [ ]:
numero = 10

if numero % 2 == 0:
    print(f"{numero} é par.")
else:
    print(f"{numero} é ímpar.")

5. Crie uma função que receba dois números e retorne a soma deles.

In [ ]:
def soma(num1, num2):
    return num1 + num2

resultado = soma(5, 7)
print(resultado)

6. Crie uma lista com os números de 1 a 5 e imprima-a.

In [3]:
numeros = list(range(1, 6))
print(numeros)

[1, 2, 3, 4, 5]

7. Adicione o número 6 à lista criada na questão anterior.

In [4]:
numeros = list(range(1, 7))
print(numeros)

[1, 2, 3, 4, 5, 6]

8. Remova o número 3 da lista.

In [ ]:
numeros = [1, 2, 3, 4, 5]
numeros.remove(3)
print(numeros)

9. Acesse o terceiro elemento da lista.

In [5]:
numeros = [1, 2, 4, 5]
terceiro_elemento = numeros[2]
print(terceiro_elemento)

4

10. Imprima o tamanho da lista.

In [7]:
numeros = [1, 2, 4, 5]
tamanho = len(numeros)
print(tamanho)

4

11. Crie um dicionário com informações de um carro (marca, modelo, ano).

In [10]:
carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2024
}

print(carro)

{'marca': 'Toyota', 'modelo': 'Renault', 'ano': 2024}

12. Acesse o valor associado à chave "marca" no dicionário.

In [11]:
carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2024
}

marca = carro["marca"]
print(marca)

Toyota

13. Adicione uma nova chave "cor" com valor "preto" ao dicionário.

In [12]:
carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2024
}

carro["cor"] = "preto"
print(carro)

{'marca': 'Toyota', 'modelo': 'Renault', 'ano': 2024, 'cor': 'preto'}

14. Verifique se a chave "modelo" existe no dicionário.

In [13]:
carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2024,
    "cor": "preto"
}

existe_modelo = "modelo" in carro
print(existe_modelo)

True

15. Itere sobre as chaves do dicionário e imprima cada uma delas.

In [14]:
carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2024,
    "cor": "preto"
}

for chave in carro:
    print(chave)

marca
modelo
ano
cor

15. Itere sobre as chaves do dicionário e imprima cada uma delas.

In [15]:
carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2024,
    "cor": "preto"
}

for chave in carro.keys():
    print(chave)

marca
modelo
ano
cor

17. Crie uma função que receba uma lista e retorne a soma dos elementos.

In [16]:
def soma_lista(lista):
    return sum(lista)

numeros = [1, 2, 3, 4, 5]
resultado = soma_lista(numeros)
print(resultado)

15

18. Crie uma função que receba um dicionário e retorne todas as suas chaves.

In [17]:
def chaves_dicionario(dicionario):
    return list(dicionario.keys())

carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2024,
    "cor": "preto"
}

resultado = chaves_dicionario(carro)
print(resultado)

['marca', 'modelo', 'ano', 'cor']


19. Crie uma função que receba um dicionário e imprima chave e valor em linhas separadas.

In [18]:
def imprimir_chaves_valores(dicionario):
    for chave, valor in dicionario.items():
        print(f"Chave: {chave}, Valor: {valor}")

carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2024,
    "cor": "preto"
}

imprimir_chaves_valores(carro)

Chave: marca, Valor: Toyota
Chave: modelo, Valor: Corolla
Chave: ano, Valor: 2020
Chave: cor, Valor: preto

20. Crie uma classe chamada Pessoa com atributos nome e idade, e um método que imprima esses dados.

In [20]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade

    def imprimir_dados(self):
        print(f"Nome: {self.nome}, Idade: {self.idade}")

pessoa1 = Pessoa("Pedro", 20)
pessoa1.imprimir_dados()

Nome: Pedro, Idade: 20